
.report-left{
   margin: 20px 0 0 20px;
    float:left;
    border:1px solid #181b2e;
    padding:0 4px;
    border-bottom:0;
    background:#222652
}
.report-left ul{
    margin:0;
    padding:5px 0 30px;
    zoom:1}
.report-left ul li{
    list-style:none;
    clear:both;
    display:block;
    line-height:26px;
    font-size:13px}
.report-left ul li a{color:#acb5e5;text-decoration:none;padding:7px 14px 7px 6px;margin-bottom:10px;display:block}
.report-left a.active,.report-left a:hover{
    color:#fff;background:#353d75}



.hot-label{
    display: block;
    padding:0 0 20px 35px;
    width:1100px;
    margin:20px 60px;
    display:block;
    position:absolute;
    }
.hot-label li{display:inline-block;float:left}.en_index .hot-label{padding:0 0 20px 12px}
.hot-label li{font-size:12px}
.hot-label li a{color:#acb5e5;padding:8px 26px;display:block;background:rgba(37,42,88,.8);border-right:1px solid #2a2f5e;line-height:17px}
.hot-label li.active a,.hot-label li:hover a{background:0 0;color:#fff}
.hot-label li:hover a{background-color: #337ab7}


.reports-list{
    margin: 20px;
    display:block;
    float: left;
    width: 1050px;
    background:-ms-linear-gradient(top,#2b3264 0,#2b3264 100%);
    background:-webkit-linear-gradient(top,#2b3264 0,#2b3264 100%);
    background:-moz-linear-gradient(top,rgba(43,50,100,.1),rgba(43,50,100,1));
    background:-o-linear-gradient(rgba(43,50,100,.1),rgba(43,50,100,1));
    background:-webkit-gradient(linear,left top,left bottom,from(rgba(43,50,100,.1)),to(rgba(43,50,100,1)));
    padding:50px 10px}
.en_index .reports-list{padding:75px 0 20px}
.reports-list .download-book{
    display:block;
    float:left;
    margin-top: 50px;
    margin-right:20px;
    position:relative;
    padding:6px 0 0 20px;
    font-size:14px}
.en_index .reports-list .download-book{
    display: inline-block;
    float: left;
    margin-right:18px;padding:6px 0 0 18px
}
.reports-list .download-book b{margin:0;position:relative;overflow:hidden;float:left}
.download-book .operate-book{display:block;float:left;width:180px;padding-left:8px}
.download-book .operate-book em{font-style:normal;line-height:22px;height:46px;display:block}
.download-book .operate-book em a{font-size:12px;color:#fff}
.download-book .operate-book em a:hover{color:#96a4e8}
.download-book .operate-book p{color:#96a4e8;font-size:12px;line-height:22px;margin-top:24px}
.reports-list .download-book a.button{position:absolute;top:74px;color:#fff;
    text-decoration:none;padding:8px 24px;border-radius:16px;margin-top:24px;display:block;float:left;background:#6b7ccd;font-size:12px}
.reports-list .download-book a.button:hover{background:#5b6bb7}
.reports-list .download-book span{position:absolute;top:128px}


.pageinfo{
    display: block;
    margin-top: 20px;
}
