<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/include :: header"></head>
<body>
<p id="page-content" class="animated fadeInRight">
<p class="col-sm-4 col-md-3 col-lg-3" style="width: 100%;">

</p>
<table id="userListTable" ></table>
</p>
<button type="button" class="btn btn-default" aria-label="Left Align">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
</button>
</body>
<script type="text/javascript">
    $(function(){
        a();
        $('#userListTable').bootstrapTable('hideColumn', 'empId');

    });
    function a () {
        $('#userListTable').bootstrapTable({
            url: "/getTableData",
            method:"post",
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            striped:true,//隔行变色
            cache:false,  //是否使用缓存
            showColumns:false,// 列
            toobar:'#toolbar',
            pagination: true, //分页
            sortable: false,           //是否启用排序
            singleSelect: false,
            search:false, //显示搜索框
            buttonsAlign: "right", //按钮对齐方式
            showRefresh:false,//是否显示刷新按钮
            sidePagination: "server", //服务端处理分页
            pageNumber:"1",
            pageSize:"15",
            pageList:[10, 25, 50, 100],
            undefinedText:'--',
            uniqueId: "id", //每一行的唯一标识，一般为主键列
            queryParamsType:'',
            queryParams: queryParams,//传递参数（*）
            responseHandler:function(res){
                //在ajax获取到数据，渲染表格之前，修改数据源
                var nres = [];
                nres.push({total:res.total,rows:res.list});
                return nres[0];
            },
            columns: [
                {
                    //field: 'Number',//可不加
                    title: 'Number',//标题  可不加
                    formatter: function (value, row, index) {
                        return index+1;
                    }
                },
                {
                    title: 'id',
                    field: 'empId',
                    align: 'center',
                    valign: 'middle',
                },
                {
                    title: '员工姓名',
                    field: 'empName',
                    align: 'center',
                    valign: 'middle',
                },
                {
                    title: '员工性别',
                    field: 'empGender',
                    align: 'center',
                    valign: 'middle',
                    formatter:function(value, row, index){
                        if(value==1){
                            return "男";
                        }else {
                            return "女";
                        }
                    },
                },
                {
                    title: '员工邮箱',
                    field: 'empEmail',
                    align: 'center',
                },
                {
                    title: '员工部门',
                    field: 'dept.deptName',
                    align: 'center',
                },
                {
                    title: '操作',
                    field: 'id',
                    align: 'center',
                    formatter:function(value,row,index){
                        console.log(row)
                        var e = '<button href="#" class="btn btn-default" mce_href="#" onclick="edit(\''+ row.empId + '\')">编辑</button> ';
                        var d = '<button href="#" class="btn btn-default" mce_href="#" onclick="del(\''+ row.empId +'\')">删除</button> ';
                        return e+d;
                    }
                }
            ]
        });

        //得到查询的参数
        function queryParams (params) {
            var temp = {  //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                pageSize: params.pageSize,  //页面大小
                pageNumber: params.pageNumber//页码
            };
            return temp;
        };
    }

    //搜索
    function serachUser() {
        $("#userListTable").bootstrapTable('refresh');
    }
    function edit(empId) {
        layer.open({
            type : 2,
            title : '用户修改',
            maxmin : true,
            shadeClose : false,
            area : [ '800px', '520px' ],
            content : '/getid/'+ empId
        });
    }

    function del(empId) {
        layer.confirm('确定要删除这条信息吗？',{
          btn:['确定','取消']
        },function(){
            var data = {"empId":empId};
            console.log(data)
            $.ajax({
                url: "/delEmp",
                type: "post",
                dataType: "json",
                data: data,
                async: false,
                success: function (data) {
                    if (data == '1') {
                        location.href="/test";
                    }
                }
            });
        },function(){

        })

    }
</script>
</html>